<div class="content">
    <div class="contact-profile">
        <img class="css-shadow" src="https://avatars.githubusercontent.com/u/116511190?v=4"
        alt="" />
        <p>Mohammad Aali</p>
        <div class="social-media">
            <span id="onlineCount"><strong>افراد آنلاین :</strong><span id="count">10</span></span>
        </div>
    </div>
    <div id="roomName">
        <h3>گروه پشتیبانی برادران عالی</h3>
    </div>
    <div class="messages">
        <ul>
            <li class="sent">
                <img class="css-shadow" src="https://avatars.githubusercontent.com/u/116511190?v=4"
                alt="" />
                <p>salam dostan haleton chetore? az course nodejs razi hastin?</p>

            </li>
            <li class="replies">
                <img class="css-shadow" src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                <p>salam are baba khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message...">
            <i class="fa fa-paperclip attachment" aria-hidden="=true"></i>
            <button class="submit">send</i></button>
        </div>
    </div>
</div>